:root {
  --font-family-primary:  'Lato', sans-serif;
  --font-family-secondary: 'Lato', sans-serif;
  
  --font-size-title: px;
  --line-height-title: 1.4;
  --font-size-caption: 12px;
  --line-height-caption: 1.2;
  
  --color-text: #222022;
  --color-highlight-primary: #FFEF7E;
  --color-highlight-secondary: #B7F9E9;
  --border-radius-primary: 32px; 
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-caption);
  line-height: var(--line-height-caption);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  width: 90%;
  max-width: 750px;

  border-radius: var(--border-radius-primary);
  box-shadow: 24px 24px 80px rgba(0,0,0,0.1);
  padding: 20px 20px 28px 20px;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  
}

.card__image img{
  border-radius: 50%;
  object-fit: cover;
  height: auto;
  width: 90px;
}

.card__content {
  padding: 0 18px;

}


.card__title {
  display: block;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-title);
  line-height: var(--line-height-title);
  color: var(--color-text);
  padding: 0 4px;
  margin-left: -4px;
}

.card__description {
    display: block;
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-caption);
    line-height: var(--line-height-caption);
    text-transform: uppercase;
    color: var(--color-text);
    margin-bottom: 6px;
  
}


.card__label {
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 0;
  padding: 7px 15px;
  display: inline-block;
  margin-right: 5px;
  

}


.stars {
  background-color: #FFEF7E;
  
}

.issues {
  background-color:#e8ecef;
}
