
:root {
    --font-family-primary:  'Lato', sans-serif;
    --font-family-secondary: 'Lato', sans-serif;
    
    --font-size-caption: 18px;
    --line-height-caption: 1.2em;
    
    --color-text: #222022;
    --color-highlight-primary: #FFEF7E;
    --color-highlight-secondary: #B7F9E9;
    --border-radius-primary: 15px; 
  }

  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 15px;
    line-height: var(--line-height-caption);
  }  

.list__repositories{
    margin: 0 auto;
    padding:50px 10px ;
    display: block;
    width: 90%;
    max-width: 950px;
    height: 100%;
}